@page
@model WebAppTest.Admin.Pages_Product.TrashModel

@{
    ViewData["Title"] = "Danh sách sản phẩm bị xóa";
    Layout = "_LayoutAdmin";
    int i = 0;
}

<div>
    <h1>Thùng rác</h1>
    <a asp-page="Index" class="btn btn-primary mb-4">Danh sách sản phẩm</a>
</div>

<form method="get" class="w-75">
    <div class="input-group mt-2">
        <input type="text" class="form-control mx-4" asp-for="QueryString" placeholder="Tìm kiếm sản phẩm" />
        <div class="input-group-append mx-3">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        <div class="input-group-append">
            <a asp-page="/Product/Index" class="btn btn-primary">Hủy</a>
        </div>
    </div>
</form>

<form method="post" asp-page-handler="action">
    <div class="d-flex mt-4 text-align-center">
        <div class="form-check form-check-inline d-flex align-items-center">
            <input class="form-check-input me-2" type="checkbox" id="chose-all">
            <label class="form-check-label" for="chose-all">Chọn tất cả</label>
        </div>

        <select id="select-action" class="form-select w-25 ms-2 me-2" aria-label="Default select example" name="action" required>
            <option value="" selected>-- Hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="destroy">Xóa vĩnh viễn</option>
        </select>

        <button type="submit" id="btn-action" class="btn btn-primary disabled">Thực hiện</button>
    </div>

    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].Price)
                </th>
                <th scope="col" colspan="2">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Product.Count == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">Thùng rác trống</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" name="productsId[]" value="@item.Id" />
                    </td>
                    <td>
                        @(++i)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td colspan="2">
                        <button type="button" data-id="@item.Id" data-action="Restore" class="btn btn-primary btn-operation mx-2">Restore</button>
                        <button type="button" data-bs-id="@item.Id" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" class="btn btn-danger">Destroy</button>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</form>

<form method="post" name="form-general"></form>

<partial name="_ConfirmModal" />