@page "/products"
@using WebAppTest.Models
@using WebAppTest.Services
@inject ProductServices Product
@model ProductsModel
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h1>@ViewData["SubTitle"]</h1>

<a asp-page="/AddProduct" class="btn btn-primary">Thêm sản phẩm</a>

<form method="get" class="w-75">
    <div class="input-group mt-2">
        <input type="text" class="form-control mx-4" asp-for="QueryString" placeholder="Tìm kiếm sản phẩm" />
        <div class="input-group-append mx-3">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        <div class="input-group-append">
            <a asp-page="/Products" class="btn btn-primary">Hủy</a>
        </div>
    </div>
</form>

<form method="post" asp-page-handler="action">
    <div class="d-flex mt-4 text-align-center">
        <div class="form-check form-check-inline d-flex align-items-center">
            <input class="form-check-input me-2" type="checkbox" id="chose-all">
            <label class="form-check-label" for="chose-all">Chọn tất cả</label>
        </div>

        <select id="select-action" class="form-select w-25 ms-2 me-2" aria-label="Default select example" name="action" required>
            <option value="" selected>-- Hành động --</option>
            <option value="clear">Xóa</option>
            <option value="restore">Khôi phục</option>
        </select>

        <button type="submit" id="btn-action" class="btn btn-primary disabled">Thực hiện</button>
    </div>

    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products.Count == 0)
            {
                <tr>
                    <td colspan="5" align="center">Không có sản phẩm nào</td>
                </tr>
            }
            else
            {
                @foreach(var product in Model.Products)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" name="productsId[]" value="@product.Id" />
                        </td>
                        <th scope="row">@product.Id</th>
                        <td>
                            <a asp-page="/ProductDetail" asp-route-id="@product.Id">@product.Name</a>
                        </td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td class="d-flex align-items-center justify-content-around text-wrap">
                            <a asp-page="/EditProduct" asp-route-id="@product.Id" class="btn btn-primary mx-2">Sửa</a>
                            <button type="button" class="btn btn-primary" data-bs-id="@product.Id" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Xóa</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>

<form method="post" name="form-delete"></form>

<partial name="_ConfirmModal" />